@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 400px) {
  #about,
  #services,
  #trustbox,
  #team,
  #contact,
  #footer {
    width: 100%;
  }

  #portfolio {
    width: 100%;
  }
}
